<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body style="background-image: url('/static/image/fondo.jpg');">
    <div class="container">
        <h1>Lista de Equipos</h1>
        <div id="listaEquipos"></div>
    </div>

    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</body>
</html>
